.admin_menu,{float: left;width: 100%;display: flex;}
.body_content table,.body_content{float: left;width: 100%;}
.alert-danger{background: red;color: #fff;}
.login_wrap{float: left;width: 100%;margin-top: 200px;margin-bottom: 104px;}

